@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

body {
  background: #000000;
}

@layer utilities {
  .primary-button {
    @apply leading-none bg-white text-black rounded-full flex items-center justify-center cursor-pointer;
  }

  .stroke-button {
    @apply leading-none text-text1 border border-white rounded-full flex items-center justify-center cursor-pointer;
  }

  .text-balance {
    text-wrap: balance;
  }

  .content-wrapper {
    @apply max-w-contentWidth largeScreen:max-w-contentWidthLarge;
  }

  .panel1 {
    @apply relative w-full pt-[15px] md:pt-[30px] xl:pt-[50px] pb-[40px] md:pb-[50px] xl:pb-[60px] 2xl:pb-[70px] overflow-hidden  
    pl-[20px] md:pl-[40px] xl:pl-[60px]
    pr-[20px] md:pr-[40px] xl:pr-[60px]
    /* pr-[20px] xl:pr-[190px] 2xl:pr-[220px] */
    flex flex-col items-center;
  }

  .panel1-content {
    @apply flex flex-col justify-center md:flex-row md:justify-between md:items-center
    md:h-[243px];
  }

  .panel {
    @apply relative w-full pt-[25px] md:pt-[30px] xl:pt-[50px] pb-[40px] md:pb-[50px] xl:pb-[60px] 2xl:pb-[70px] overflow-hidden  
    pl-[20px] md:pl-[40px] xl:pl-[60px]
    pr-[20px] md:pr-[40px] xl:pr-[60px]
    /* pr-[20px] xl:pr-[190px] 2xl:pr-[220px] */
    flex flex-col items-center justify-center;
  }

  .panel-content {
    @apply flex flex-row items-center justify-center md:flex-row md:justify-between md:items-center
    min-h-[220px] md:min-h-[243px] py-3
    px-3 md:px-0;
  }

  .panel-bg-img {
    @apply w-[100px] h-[110px] lg:w-[150px] lg:h-[160px] xl:w-[220px] xl:h-[240px];
  }

  .panel-title {
    @apply text-[24px] md:text-[35px] lg:text-[40px] 2xl:text-[40px];
  }
}

.diag {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><path d='M1 0 L0 1 L99 100 L100 99' fill='black' /><path d='M0 99 L99 0 L100 1 L1 100' fill='black' /></svg>");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%, auto;
}

.crossed {
}

.crossed:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 1px;
  bottom: 1px;
  border-width: 149px;
  border-style: solid;
  border-color: black white;
}

.crossed:after {
  content: "";
  position: absolute;
  left: 1px;
  right: 1px;
  top: 0;
  bottom: 0;
  border-width: 149px;
  border-style: solid;
  border-color: white transparent;
}
