@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  background: #ffffff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .content-wrapper {
    @apply max-w-contentWidth largeScreen:max-w-contentWidthLarge;
  }

  .panel {
    @apply relative w-full pt-[15px] md:pt-[30px] xl:pt-[50px] pb-[40px] md:pb-[50px] xl:pb-[60px] 2xl:pb-[70px] overflow-hidden  
    pl-[20px] md:pl-[40px] xl:pl-[60px]
    pr-[20px] md:pr-[40px] xl:pr-[60px]
    /* pr-[20px] xl:pr-[190px] 2xl:pr-[220px] */
    flex flex-col items-center;
  }

  .panel-content {
    @apply flex flex-col justify-center md:flex-row md:justify-between md:items-center
    md:h-[243px];
  }

  .panel-bg-img {
    @apply w-[100px] h-[110px] lg:w-[150px] lg:h-[160px] xl:w-[220px] xl:h-[240px];
  }
}
